
.signup-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.signup-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.signup-error-message {
  font-size: 0.8rem;
  color: #0085fd;
  padding-left: 4px;
}