.pagination-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3em;
}

.pagination {
    font-size: 1.3em;
    height: 2em;
    border-spacing: 0;
}

.pagination > tbody td {
    text-align: center;
    width: 2em;
    color: gray;
}

.pagination > tbody img {
    cursor: pointer;
}

.pagination > tbody td:nth-child(3) > p {
    color: black;
    background-color: #D2EEC0;
}

.pagination > tbody p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 2em;
    height: 2em;
}

.pagination > tbody td > p:hover {
    border:2px solid #D2EEC0;
    cursor: pointer;
}