.register-page {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 864px;
  min-width: 320px;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.register-submit {
  margin-top: 5px;
}

.register-button {
  background-color: #0085fd;
  color: #fff;
  font-size: 1.1rem;
  width: 25vw;
  max-width: 450px;
  min-width: 320px;
  height: 44px;
  padding: 0 16px;
  font-weight: bold;
  border-radius: 2px;
}

.register-error-message {
  margin-top: 25px;
  height: 20px;
  min-height: 20px;
  color: #0085fd;
}
