html, body {
    box-sizing: border-box;
}


.content-wrap {
    margin: 0 15%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.page-wrap {
    width: 85%;
    height: 500px;
    background-color: rgb(172, 251, 176);
}