.address-input-wrapper {
  margin-top: 8px;
  width: 25vw;
  max-width: 450px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address-show {
  font-size: 1rem;
  width: 20vw;
  max-width: 400px;
  min-width: 300px;
  height: 44px;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid gray;
  background-color: #ccc;
  color: #ccc;
  letter-spacing: normal;
  text-align: start;
}

.address-input-button {
  width: 80px;
  background-color: #88bf45;
  color: #fff;
  font-size: 1rem;
  height: 44px;
  padding: 0 8px;
}