* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border: none;
  box-shadow: none;
}

#modal-root {
  z-index: 999;
}

.common-input {
  font-size: 12px;
  width: 450px;
  min-width: 300px;
  height: 44px;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid gray;
  letter-spacing: normal;
  text-align: start;
}

.common-input:hover {
  background-color: #e9f2ff;
  border: 1px solid #0085fd;
  border-radius: 2px;
}