.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
}
.not-allowed-zone,
.allowed-zone {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
