.wrapper {
}
.select-box {
  display: flex;
  height: 230px;
  justify-content: center;
}
.not-allowed-zone,
.allowed-zone {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #c6efad;
  align-items: center;
  margin: 0 10px;
}

.not-allowed-zone p,
.allowed-zone p {
  font-size: 20px;
}

.allowed-zone label,
.not-allowed-zone label {
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin: 5px 10px;
  justify-content: center;
  width: 70%;
  background-color: #ffffff;
}
.allowed-zone input,
.not-allowed-zone input {
  display: flex;
  padding: 10px;
  opacity: 0;
  position: absolute;
}
.allowed-zone label span,
.not-allowed-zone label span {
  font-size: 15px;
  padding: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
}
